@model MobileApplication.DataModel.ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Resources.AppResources.AppName </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Areas/ControlPanel/Content/css/styles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body class="focusedform">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.EmployeeID)
        @Html.HiddenFor(m => m.GUID)
        <div class="verticalcenter">
            <img src="/Areas/ControlPanel/Content/img/login-logo.png" alt="Logo" class="brand" />

            @*<img src="~/Areas/ControlPanel/Content/img/logo-big.png" alt="Logo" class="brand" />*@
            <div class="panel panel-green perspective">
                <div class="panel-body login">
                    <div class="form-group">
                        <div class="quickAdd col-sm-1  col-sm-1 2">
                            <div class="input-group">
                                <label>كلمة المرور الجديدة</label>
                                @Html.PasswordFor(e => e.NewPassword, new { @class = "form-control", @placeholder = "كلمة المرور الجديدة" })
                            </div>
                            <div class="has-error clearfix">
                                <div class="control-label">
                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="quickAdd col-sm-1  col-sm-1 2">
                            <div class="input-group">
                                <label>تأكيد كلمة المرور</label>
                                @Html.PasswordFor(e => e.ConfirmPassword, new { @class = "form-control", @id = "password", @placeholder = "تأكيد كلمة المرور " })


                            </div>
                            <div class="has-error clearfix">
                                <div class="control-label">
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @* <div class="input-group">
                                    <label>تذكرني </label>
                                    @Html.CheckBoxFor(model => model.RememberMe)

                                </div>*@
                        </div>
                    </div>

                    @Html.ValidationMessage("error", new { style = "font-size:12px; color:#D20C0C;" })
                </div>

                <div class="panel-footer">
                    <div class="pull-left">
                        <button type="submit" class="btn btn-green">حفظ</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
